In [2]:
# 11.1
import zoo

zoo.hours()

Open 9-5 daily

In [3]:
# 11.2
import zoo as menagerie

menagerie.hours()

Open 9-5 daily

In [29]:
# 16.8
import sqlite3
import sqlalchemy as sa  
import csv

file = open('books2.csv')
data = csv.reader(file)
                
conn = sqlite3.connect('books.db')
curs = conn.cursor() 
# curs.execute('''CREATE TABLE books(title STR, author STR, year INT)''') 

ins = 'INSERT INTO books (title, author, year) VALUES(?, ?, ?)'  
curs.execute(ins, data)

ProgrammingError: parameters are of unsupported type